@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/*General styles*/
 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     font-family: 'Inter', sans-serif;
     font-size: 1rem;
     height: 100vh;
 }

 h1 {
     margin: 0;
 }

 img {
     max-width: 100%;
 }

 .loading {
     text-align: center;
     font-size: 1.5rem;
     font-weight: 700;
 }

 .btn {
     margin-top: auto;
     padding: 0.5em 1.25em;
     outline: none;
     border: 3px solid transparent;
     cursor: pointer;
     background-color: #000;
     color: #fff;
     text-transform: uppercase;
     font-weight: 700;
     letter-spacing: 1px;
     border-radius: 7px;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn:enabled:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.main-container {
    grid-area: main;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
 }

 /*Layout*/

 /*Header*/
 .layout {
     display: grid;
     grid-template-rows: auto 1fr auto;
     grid-template-areas: "header header header"
                            "main main main"
                            "footer footer footer";
 }

 header {
    padding: 1em;
    background-color: #000;
    color: #fff;
    grid-area: header;
 }

 .logo {
     letter-spacing: 1px;
     margin-right: 1em;
 }

 .flex-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .container {
     width: 90%;
     margin-left: auto;
     margin-right: auto;
 }

 /*Nav*/
 .nav__link {
     cursor: pointer;
     color: white;
 }

 .nav__link + .nav__link {
     margin-left: 2em;
 }

 /*Products*/
 .grid-container {
     display: grid;
     margin-right: auto;
     margin-left: auto;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     grid-template-rows: auto;
     grid-gap: 10px;
     margin-bottom: 10em;
     justify-content: center;
 }

 .card {
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 550px;
     border: 5px solid #000;
     border-radius: 8px;
     padding: 1em;

 }

 .card__img {
     height: 300px;
     object-fit: cover;
 }

 .card__title {
     margin: 0;
     font-size: 1rem;
     padding: 1em;
     justify-self: baseline;
 }

 .product-title-link {
    color: black;
 }

 .product-title-link:hover,
 .product-tile-link:active {
     opacity: 0.5;
 }

 .home-title {
     text-align: center;
 }

 /*Product Detail*/
 .card__detail {
     margin-top: 1em;
     padding: 1em;
     max-width: 350px;
     margin-left: auto;
     margin-right: auto;
     height: 750px;
     justify-content: space-around;
     margin-bottom: 10em;
 }

 .card__cart-status {
     font-weight: 700;
     color: #fff;
     padding: 0.25em 0.5em;
     letter-spacing: 1px;
     margin-left: 1em;
     border-radius: 5px;
 }

 .btn-group {
     margin-top: 1em;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .btn-group > .btn {
     width: 150px;
     border-radius: 3px;
 }

 /*Cart*/
 .cart-container {
     margin-top: 1em;
     margin-bottom: 10em;
 }

 .cart-item-container {
     padding: 1em;
 }

 .cart-heading {
     text-align: center;
     margin-bottom: 0.5em;
     margin-top: 0;
 }

 .cart-flex {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .cart-thumbnail {
     width: 50px;
     height: 50px;
     object-fit: contain;
     margin-right: 2em;
 }

 .cart__total {
     padding: 1em;
     font-weight: 700;
     text-transform: uppercase;
 }

 .btn__cart {
     margin-left: 1em;
     padding: 0.15em 0.75em;
 }

 /*Footer*/
 footer {
     text-align: center;
     grid-area: footer;
     padding: 1em;
     background-color: #000;
     color: #fff;
     position: fixed;
     width: 100%;
     bottom: 0;
 }